#best_actress_bar_chart
  text-align center

#big_sample_line_chart
  text-align center

.point
  fill black
  stroke none

.legend
  cursor pointer

.tooltip
  background black
  color white
  width 300px
